/* || Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');


/* || CSS Variables */
:root {
    --clr-white: #efefef;
    --clr-black: #222;
    --clr-yellow: #e6ba38;
    --font-fam-montserrat: 'Montserrat', sans-serif;

}


/* || General Styles */
body {
    color: var(--clr-black);
    background: var(--clr-white);
    font-family: var(--font-fam-montserrat);
}


img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}