.mnmlst-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 0 20px;

    width: 1125px;
    max-width: 95%;
    margin: 40px auto;

}

.mnmlst-footer__social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    z-index: 3;
}

.mnmlst-footer__social-media__item {
    min-width: 32px;
    width: 40px;
    transition: .3s ease-in;
}

.mnmlst-footer__social-media__item:hover {
    transform: scale(1.1);
}



.mnmlst-footer__address {
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;

    z-index: 3;
}


/* =============== Responsive */
@media screen and (max-width: 540px) {
    .mnmlst-footer {
        flex-direction: column;
    }

    .mnmlst-footer__social-media {
        order: 2;
    }

    .mnmlst-footer__address {
        order: 1;
    }
}