.mnmlst-header {
    padding-top: 20px;
    --height-navbar: 56px;
}

.mnmlst-header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1125px;
    height: var(--height-navbar);
    max-width: 95%;
    padding: 0 20px;

    margin: 0 auto;

    position: relative;
}


/* Site logo */
.mnmlst-header__site-logo-link {
    min-width: 110px;
    padding: 12px 0;
    transition: .3s ease-in;
}

.mnmlst-header__site-logo-img {
    width: 110px;
}

.mnmlst-header__site-logo-link:hover {
    opacity: .8;
}


/* Menu-Links - Common styles for Desktop and Mobile menu */
.mnmlst-header__menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    white-space: nowrap;

    z-index: 5;
}

/* Menu-links ITEMS - Common styles */
.mnmlst-header__menu-links__item {
    color: #272727;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 0;
    text-transform: uppercase;
    position: relative;

    transition: .3s ease-in;
}

.mnmlst-header__menu-links__item:hover {
    color: var(--clr-yellow);
}

.mnmlst-header__menu-links__item--active,
.mnmlst-header__menu-links__item--active:hover {
    font-weight: 700;
    color: var(--clr-yellow);
}

/* Menu-Button */
.mnmlst-header__menu-btn {
    width: 28px;
    padding: 12px 0;
    min-width: 28px;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}


/* =============== Menu-Links for mobile screens */
.mnmlst-header__menu-links--mobile {
    position: absolute;
    top: var(--height-navbar);
    right: 20px;
    height: auto;
    padding: 24px 0px;

    display: flex;
    gap: 16px;
    flex-direction: column;

    background: var(--clr-white);
    box-shadow: var(--clr-black) 0px 0px 0px 2px, var(--clr-black) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 4px;

    /* To display mobile menu with animation */
    transform-origin: right top;
    transform: scale(0);
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.mnmlst-header__menu-links--mobile--active {
    transform: scale(1);
}

.mnmlst-header__menu-links--mobile .mnmlst-header__menu-links__item {
    width: 240px;
    text-align: center;
}


/* =============== Responsive */
@media screen and (max-width: 860px) {

    /* Hide desktop menu */
    .mnmlst-header__menu-links {
        display: none;
    }

    /* Show Menu-Links for mobile screens */
    .mnmlst-header__menu-links--mobile {
        position: absolute;
        top: var(--height-navbar);
        right: 0;
        width: 100%;
        height: auto;
        padding: 8px 0;

        display: flex;
        gap: 8px;
        flex-direction: column;

        border: none;
        background-color: rgba(34, 34, 34, 0.8);
        backdrop-filter: blur(7px);

        /* To display mobile menu with animation */
        transform: translateY(calc(-100% - var(--height-navbar) - 10px));
        transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .mnmlst-header__menu-links--mobile--active {
        transform: translateY(0);
    }

    .mnmlst-header__menu-links__item {
        font-size: 1.8rem;
        color: var(--clr-white);
    }

    .mnmlst-header__menu-links__item:hover {
        color: (--clr-yellow);
    }

    .mnmlst-header__menu-links__item--active,
    .mnmlst-header__menu-links__item--active:hover {
        color: var(--clr-yellow);
    }

}